<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.mapper.MemberMapper">

    <select id="findMemberByPhoneNumber" resultType="com.qf.pojo.Member">
         select * from t_member where phoneNumber = #{phoneNumber}
    </select>

    <insert id="addMember" parameterType="com.qf.pojo.Member">
        <selectKey resultType="java.lang.Integer" order="AFTER"
                   keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_member(fileNumber,name,sex,idCard,phoneNumber,
        regTime,password,email,birthday,remark)
        values(#{fileNumber},#{name},#{sex},#{idCard},#{phoneNumber},
        #{regTime},#{password},#{email},#{birthday},#{remark})
    </insert>
</mapper>
